.lazy-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.skeleton {
    background: linear-gradient(
            90deg,
            #2b2b2b 25%,
            #3a3a3a 37%,
            #2b2b2b 63%
    );
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
}

.skeleton-image {
    width: 100%;
    height: 0;
    padding-bottom: 140%;
    border-radius: 8px;
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.lazy-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}
